*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'poppins';
}
html{
	font-size:10px;
}
section{
	padding:80px 0px;
}
.container{
	width:1170px;
	margin:0 auto;
	display:flex;
	flex-wrap:wrap;
}
.container-fluid{
	width:100%;
	display:flex;
	flex-wrap:wrap;
}
.row{
	width:100%;
	display:flex;
	flex-wrap:wrap;
}
li{
	list-style-type:none;
}
a{
	text-decoration:none;
}
.d-flex{
	display:flex;
	justify-content:center;
	align-items:center;
}
.justify-content-center{
	justify-content:center;
}
.align-items-center{
	align-items:center;
}
.header-sec{
	width:100%;
	z-index:5;
	position:fixed;
	border-bottom:1px solid rgba(255, 255, 255, 0.1);
	background-color:rgba(40, 40, 40, 0.6);
	z-index:5;
}
.navbar{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:center;
}
.navbar h1{
	font-size:2.7rem;
	color:#fff;
	padding:18px;
	font-weight:600;
}
.navbar h1 a{
	color:#fff;
}
.navbar nav ul li{
	display:inline-block;
	padding:0px 15px;
	transition:all 0.4s ease;
}
.navbar nav ul li:hover{
	border-bottom:2px solid #009961;
	transition:all 0.4s ease;
}
.navbar nav ul li a{
	display:inline-block;
	color:rgba(255, 255, 255, 0.6);
	padding:28px 6px;
	font-size:1.4rem;
}
.navbar nav ul li a:hover{
	color:#fff;
	transition:all 0.4s ease;
}
.navbar > a{
	color:#fff;
	background-color:#009961;
	font-size:14px;
	padding:10px 28px;
	border-radius:50px;
	
}
/*banner-sec-start*/
.banner-sec{
	width:100%;
	height:100vh;
	background-image:linear-gradient(rgb(0 0 0 / 62%), rgb(0 0 0 / 62% )), url(../images/hero-bg.jpg);
	background-size:cover;	
	background-position:top center;
	background-attachment:fixed;
}
.banner{
	width:66%;
}
.banner h1{
	color:#fff;
	font-size:4.8rem;
	font-weight:600;
	text-align:center;
	line-height:60px;
	margin-bottom:10px;
}
.banner h2{
	color:#fff;
	font-size:2.2rem;
	font-weight:300;
	text-align:center;
	margin-bottom:40px;
}
.banner-paly-btn{
	background-color:rgba(0, 153, 97, 0.4);
	width:96px;
	height:96px;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow: hidden;
	margin:0 auto;
}
.banner-paly-btn a:after{
	content:"";
	position:absolute;	
	width:70px;
	height:70px;
	border:4px solid rgba(0, 153, 97, 0.6);
	border-radius:50%;
	transform:scale(0);
	transform-origin:center center;
	animation-duration:1.8s;
	animation-delay:1s;
	animation-iteration-count:infinite;
	animation-timing-function:ease;
	animation-name:flow;
	overflow:hidden;
}
.banner-paly-btn a{
	background-color:#009961;
	width:70px;
	height:70px;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	z-index:1;
}
.banner-paly-btn a:hover{
	background-color:#009961;
	width:96px;
	height:96px;
	border-radius:50%;
}
.banner-paly-btn a i{
	color:#fff;
}
.banner-paly-btn a .icon-01{
	position:absolute;
	font-size:19px;
}
.banner-paly-btn a .icon-02{
	font-size:19px;
	transition-duration:0.5s;
	transform:scale(1);
	transition-timing-function:ease-in-out;
	opacity:1;
	z-index:1;
}
.banner-paly-btn a:hover .icon-02{
	transform:scale(15);
	opacity:0;
	transition-duration:0.5s;
}
@keyframes flow{
	0%{
		transform: scale(1);
		opacity:1;
	}
	100%{
		transform: scale(1.4);
		opacity:0;
	}
}
/*banner-sec-end*/
/*about-sec-start*/
.con-head h2{
	font-size:3.1rem;
	font-weight:600;
	position:relative;
	padding-bottom:18px;
	margin-bottom:18px;
}
.con-head h2::after{
	content:"";
	position:absolute;
	left:0;
	bottom:0;
	display:block;
	background-color:#009961;
	width:50px;
	height:3px;
}
.con-head p{
	font-size:1.5rem;
	color:#777777;
	margin-bottom:30px;
}
.about-content{
	width:50%;
}
.about-content p{
	font-size:1.5rem;
	margin-bottom:15px;
}
.about-content ul li{
	font-size:1.5rem;
	padding-bottom:10px;
}
.about-content ul li i{
	color:#009961;
	font-size:1.8rem;
	padding:0px 5px 0px 0px;
}
.about-content a{
	display:inline-block;
	font-size:1.5rem;
	color:#009961;
	padding:6px 28px;
	border:2px solid #009961;
	border-radius:50px;
	margin-top:5px;
}
/*about-sec-end*/
/*Services-sec-start*/
.service-boxs{
	width:33.33%;
}
.service-boxs .icon-box{
	margin:0px 20px 20px 0px;
	padding:60px 30px;
	border-radius:20px;
	background-color:#fff;
}
.bg-color{
	/* background-color:rgba(40, 40, 40, 0.6); */
}
.service-boxs .icon-box .icon{
	width:65px;
	height:65px;
	background-color:#009961;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-bottom:15px;
}
.service-boxs .icon-box i{
	display:inline-block;
	color:#fff;
	position:relative;
	font-size:3rem;
}
.service-boxs .icon-box h4{
	font-size:2.4rem;
	font-weight:600;
	margin-bottom:12px;
}
.service-boxs .icon-box p{
	font-size:1.3rem;
}
/*Services-sec-end*/
/*action-sec-start*/
.action-sec{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/cta-bg.jpg);
	padding:120px 0px;
	background-position:center center;
	background-attachment:fixed;
	background-size:cover;
}
.action-con{
	width:75%;
	padding:0px 10px;
	color:#fff;
}
.action-con h3{
	font-size:2.8rem;
	font-weight:600;
	margin-bottom:10px;
}
.action-con p{
	font-size:1.5rem;
}
.action-icon{
	width:25%;
	display:flex;
	justify-content:flex-end;
	align-items:center;
}
.action-icon a{
	display:inline-block;
	color:#fff;
	padding:12px 28px;
	font-size:1.5rem;
	background-color:#009961;
	border-radius:50px;
}
/*action-sec-end*/
/*details-sec-start*/
.mb-3{
	margin-bottom:30px;
}
.details-con{
	width:50%;
	padding:0px 10px;
}
.details-con .detl-box{
	width:100%;
	display:flex;
	flex-wrap:wrap;
}
.detl-box .icon{
	width:10%;
}
.detl-box .icon i{
	font-size:4rem;
	color:#009961;
}
.detl-box .con{
    width:90%;
}
.detl-box .con h4{
	font-size:2rem;
	font-weight:600;
	margin-bottom:10px;
}
.detl-box .con p{
	font-size:1.4rem;
	color:#777777;
}
.ditails-img{
	width:50%;
	padding:0px 10px;
}
.ditails-img img{
	width:100%;
	height:auto;
}
/*details-sec-end*/
/*icons-sec-start*/
.icon-boxs{
	width:25%;
	border:1px solid lightgray;
	display:flex;
	justify-content:center;
	align-items:center;
}
.icon-boxs .com-icon{
	width:60%;
}
.p-tb-3{
	padding:30px 0px;
}
.p-tb-4{
	padding:40px 0px;
}
.icon-boxs .com-icon img{
	width:100%;
	transition:0.6s ease;
}
.icon-boxs:hover .com-icon img{
	transform:scale(1.1);
    transition:0.6s ease;
}
/*icons-sec-end*/
/*achievement-sec-start*/
.achievement-sec{
	background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/counts-bg.jpg);
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
}
.acheved-con{
	width:100%;
	text-align:center;
	margin-bottom:35px;
}
.acheved-con h3{
	font-size:3.6rem;
	font-weight:600;
	color:#fff;
	margin-bottom:5px;
}
.acheved-con p{
	color:#fff;
	font-size:1.6rem;
}
.ach-box{
	width:25%;
	text-align:center;
}
.ach-box h5{
	font-size:5rem;
	color:#009961;
	font-weight:600;
	letter-spacing:1px;
}
.ach-box p{
	color:#fff;
	font-size:1.4rem;
}
/*achievement-sec-end*/
/*pricing-sec-start*/
.p-tb-6{
	padding:60px 0px;
}
.p-b-6{
	padding-bottom:60px;
}
.pricing-sec{
	background-color:#f9f9f9;
}
.price-box{
	width:33.33%;
}
.price-box .box{
	background-color:#fff;
	border-radius:10px;
	margin:0px 10px;
	text-align:center;
}
.price-box .box .high{
	background-color:#edfbf0;
	padding:6px 23px;
	border-radius:50px;
	display:inline-block;
	margin:15px 0px;
}
.price-box .box .high p{
	color:#009961;
	font-size:1.2rem;
}
.price-box .box > p{
	font-size:1.8rem;
	margin-bottom:15px;
}
.price-box .box h5{
	font-size:1.5rem;
	font-weight:500;
	margin-bottom:15px;
}
.price-box .box h5 span:nth-child(1),
.price-box .box h5 span:nth-child(2){
	color:#009961;
}
.price-box .box h5 span:nth-child(1){
	vertical-align:top;
	font-size:2rem;
}
.price-box .box h5 span:nth-child(2){
	font-size:4.5rem;
	font-weight:400;
}
.price-box .box h5 span:nth-child(3){
	opacity:0.4;
}
.price-box .box ul{
	padding:10px 0px;
	margin-bottom:35px;
}
.price-box .box ul li{
	font-size:1.4rem;
	padding-bottom:20px;
}
.price-box:nth-child(1) .box ul li:nth-child(4),
.price-box:nth-child(1) .box ul li:nth-child(5),
.price-box:nth-child(2) .box ul li:nth-child(5){
	opacity:0.4;
	text-decoration:line-through;
}
.price-box .box .btn{
	font-size:1.4rem;
	color:#009961;
	display:inline-block;
	padding:10px 35px;
	border:2px solid #009961;
	border-radius:50px;
	transition:.4s ease;
}
.price-box .box .btn:hover{
	background-color:#009961;
	color:#fff;
	transition:.4s ease;
}
.price-box .box .buy-btn{
	background-color:#009961;
	font-size:1.4rem;
	color:#fff;
	display:inline-block;
	padding:10px 35px;
	border:2px solid #009961;
	border-radius:50px;
}
/*pricing-sec-end*/
/*contack-sec-start*/
.contact-map{
	width:100%;
	margin-bottom:50px;
}
.contact-detl{
	width:40%;
}
.contact-detl .box{
	margin-bottom:20px;
	display:flex;
	flex-wrap:wrap;
}
.contact-detl .box .icon-box{
	width:10%;
	padding:5px 5px 5px 0px;
}
.contact-detl .box .icon-box i{
	color:#009961;
	font-size:2.5rem;
}
.contact-detl .box .con{
	width:90%;
}
.contact-detl .box .con h5{
	font-size:2.2rem;
	font-weight:500;
}
.contact-detl .box .con p{
	font-size:1.4rem;
	color:#777777;
}
.contact-form{
	width:60%;
}
.contact-form form{
	display:flex;
	flex-wrap:wrap;
	
}
.contact-form form .your{
	width:50%;
	padding:0px 10px;
	margin-bottom:25px;
}
.contact-form form input{
	border:1px solid lightgray;
	border-radius:3px;
	height:43px;
}
.contact-form form .your input{
	width:100%;
	height:43px;
	padding:5px;
	border:1px solid lightgray;
	border-radius:3px;
}
.contact-form form .sub{
	width:100%;
	padding:0px 10px;
	margin-bottom:25px;
}
.contact-form form .sub input{
	width:100%;
}
.contact-form form .mes{
	width:100%;
	padding:0px 10px;
}
.contact-form form .mes textarea{
	width:100%;
	height:43px;
	border:1px solid lightgray;
	border-radius:3px;
}
/*contack-sec-end*/